<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Speed game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/input_view.css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
         body {
            font-family: Tahoma;
         }


    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/joinGame}">Speed game</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/createGame}">Konfiguruj grę</a></li>
                <li><a th:href="@{/ratings}">Oceny gier</a></li>
                <li><a th:href="@{/manage}">Ranking</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="container data thumbnail">
    <div style="text-align: center;">
        <h1>Konfiguracja gry</h1>
    </div>

    <form class="" action="#" th:action="@{/manage}" th:object="${createGameInput}" method="post">

        <center>
            <div class="form-check">
                <label class="form-check-label">
                    <ul class="list-group">
                        <li class="list-group-item" th:each="task, stat : *{tasksConfig}">
                            <input class="form-check-input" th:field="*{tasksConfig}" type="checkbox"
                                   th:value="${task.name}"
                                   th:text=" | &nbsp; ${task.name}"/>
                            <ul class="list-group" th:object="${task}">
                                <li class="list-group-item" th:each="paramConfig, stat : *{config}">
                                    <div>
                                        <label for="value" class="col-sm-2 col-form-label"
                                               th:text="${paramConfig.name}"></label>
                                        <input type="text" class="form-control" id="value"
                                               th:value="${paramConfig.value}" readonly/>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </label>
            </div>
        </center>

        <div class="buttons">
            <input class="btn btn-primary" type="submit" value="Zatwierdź"/>
            <input class="btn btn-primary" type="reset" value="Zresetuj"/>
        </div>
    </form>
</div>
</body>
</html>
